<h1>Show Post</h1>

<% if logged_in? %>
<h2>You are logged in as <%= @user.username %><br></h2>
<%else%>
<h2>You are currently not logged in</h2><br>
<%end%>


<h2><%= @post.text %> </h2>
Posted by: <%= @post.user.username%> <br><br>

<br><br>

<% if logged_in? %>

		<a href="/post/new"><button>Post something</button></a><br>
		<a href="/users/<%= @user.id %>"><button>View My Profile</button></a><br>
		<a href="/users/<%= @user.id %>/edit"><button>Edit Profile</button></a><br><br>
		<a href="/users/logout"><button>LOGOUT</button></a>
		<a href="/"><button>HOME</button></a>

	<%else%>

		<p>For existing users Login</p>
		<a href="/users"><button>Login</button></a>
		<p>For new users Sign Up</p>
		<a href="/users/new"><button>Sign Up</button></a><br><br>
		<a href="/"><button>HOME</button></a>

	<%end%>