<h1>User Profile</h1>

<% if logged_in? %>
<h2>You are logged in as <%= @user.username %><br></h2>
<%else%>
<h2>You are currently not logged in</h2><br>
<%end%>


Name: <%= @user.username %>
<br>
Email: <%= @user.email %>
<br>
<br>


<a href="/posts/new"><button>Post something</button></a>
<br>
<a href="/users/questions"><button>View all my post</button></a>
<br>
<a href="/users/<%= @user.id %>"><button>View My Profile</button></a>
<br>
<form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete profile">
</form>

<a href="/users/logout"><button>Logout</button></a>

<a href="/"><button>HOME</button></a>